{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
 <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="position-relative text-center mb-5 pb-2">
                    <h3 class="position-relative d-inline text-primary ps-4">Join XLookin </h3>
                   
                  
                </div>
                 <div class="row justify-content-md-center">
                  <h5 class="text-center"><a href="{% url 'account:login' %}">Have an account already? Log in </a></h5>
                    <div class="col-md-auto">
               <form  method="post" >
                 {% csrf_token %}
                {{form|crispy}}
                 <button type="submit"  style ="width: 100%;border-radius: 40px;font-size: 21px;background-color:#638BF7;color: white; border: none;">Create account</button>   
               </form>
               
               </div>
                
               </div>
            </div>
        </div>
      
{% endblock body %}