{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
 <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="position-relative text-center mb-5 pb-2">
                    <h3 class="position-relative d-inline text-primary ps-4">Password Reset</h3>
                    
                </div>
                 <div class="row justify-content-md-center">
                    <div class="col-md-auto">
               <form id="reset-form" role="form" autocomplete="off"  method="post">
                 {% csrf_token %}
                  <div class="form-group" >
                        <div class="input-group" >
                        
                            <input type="email" name="email"  placeholder="email address" class="form-control" autocomplete="email" maxlength="450" required="" id="id_email" style="width:450px; height:50px">
                    
                        </div>
                        
                      </div>  
                        {% if form.errors %}
                            {% for field in form %}
                                {{field.name}}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
               <br>
              
                 <button type="submit"  style ="width: 100%;border-radius: 40px;font-size: 21px;background-color:#638BF7;color: white; border: none;">Reset Password</button>   
           
               </form>
               
               </div>
                
               </div>
            </div>
        </div>
      
{% endblock body %}