{% extends "base.html" %}



{% block body %}
<div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
 <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h3 class="position-relative d-inline text-primary ps-4">Change Password</h3>
                    
                </div>
                 <div class="row justify-content-md-center">
                    {% if validlink  %}
                    <div class="text-center" >
                  
                  <h6 class="position-relative d-inline text-primary ps-4">Enter your new password</h6>
                  
                  <div class="panel-body" >
                    <form id="reset-password" role="form" autocomplete="off" class="form" action="" method="POST">
                        {% csrf_token %}
                        <br>
                      <div class="form-group">
                        <div class="input-group" >
                          <span>New password</span>&nbsp;&nbsp;
                          <input type="password" name="new_password1" class="form-control" autocomplete="new-password" required="" id="id_new_password1" style="height: 50px;">
                        </div>
                      </div>
                      <br>
                      <div class="form-group">
                        <div class="input-group">
                          <span>Confirmation</span> &nbsp;&nbsp;
                          <input type="password" name="new_password2" class="form-control" autocomplete="new-password" required="" id="id_new_password2" style="height: 50px;">
                        </div>
                      </div>
                      
                      {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                      {% endif %}
                      <br>
                      <div class="form-group">
                         
                          <button type="submit"  style ="width: 50%;border-radius: 40px;font-size: 21px;background-color:#638BF7;color: white; border: none;">Change Password</button>                    
                      </div>
                    </form>
                  </div>
                </div>
                  {% else %}
                    <h3>Password reset unsuccessful.</h3>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                  {% endif %}
                
               </div>
            </div>
        </div>
      
{% endblock body %}