{% load i18n %}{% autoescape off %}
{% blocktrans %}Dear {{user.first_name}},
 This email is to confirm that you have requested a password reset for your user account at XLookin.
 {% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}XLookin{% endblocktrans %}

{% endautoescape %}