{% extends "base.html" %}
{% load static %}

{% block body %}

      <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
             <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="position-relative mb-4 pb-2">
                            <br><br><br>
                           
                        </div>
                        
                        <div class="row g-3">
                            <div class="col">
                               
<p class="mb-4 text-dark">At XLookin, we are driven by innovation and a passion for empowering individuals, influencers, and brands with powerful insights into the world of Instagram. Our services are meticulously crafted to elevate your social media presence, foster meaningful collaborations, and drive your digital success.  </p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid"  src="{% static 'img/service.jpg' %}">
                    </div>
                </div>
            </div>
        </div>   
<div class="container-xxl py-5">
     <div class="container px-lg-5">
             <div class="row g-5">
                 <div class="col-lg-4">
                        <img class="img-fluid"  src="{% static 'img/service-1.jpg' %}" style="width: 400px; height: 400px;">
                    </div>
                 <div class="col-lg-8"> 
                    <br><br><br><p class="mb-4 text-dark"><h6>Explore Comprehensive Insights</h6> 
Uncover the depths of Instagram analytics with our advanced tools. Dive into detailed metrics, including likes, comments, views, and engagement rates. Gain profound insights into your audience and content performance to refine your digital strategies.
</p>
<p class="mb-4 text-dark">
   <h6> Identify Influencers and Ambassadors </h6> 
For brands seeking collaborations, our platform identifies potential ambassadors and influencers perfectly aligned with your goals. Forge authentic partnerships that resonate with your audience and elevate your brand presence.
</p>



</div>
        </div>
          
        </div>
 </div>
 <div class="container-xxl py-5">
     <div class="container px-lg-5">
             <div class="row g-5">
                
                 <div class="col-lg-8">
           <br><br><br>         <p class="mb-4 text-dark">

 <h6>Empower Influencers</h6>
Influencers, amplify your reach and impact! Discover new collaboration opportunities and areas for improvement within your content strategy. Harness the power of data to enhance your influence and captivate your followers.
</p>
<p class="mb-4 text-dark">
<h6>Tailored Strategies for Individuals</h6>
Individuals, define your role model and enhance your current strategy. Utilize our insights to refine your content, engage your audience effectively, and achieve remarkable results. Empower your personal brand with informed decision-making.


</p></div>
 <div class="col-lg-4">
                        <img class="img-fluid"  src="{% static 'img/service-2.jpg' %}" style="width: 400px; height: 400px;">
                    </div>
        </div>
          
        </div>
 </div>
 <div class="container-xxl py-5">
     <div class="container px-lg-5">
             <div class="row g-5">
                 <div class="col-lg-4">
                        <img class="img-fluid"  src="{% static 'img/xlookim-service.jpg' %}" style="width: 400px; height: 400px;">
                    </div>
                 <div class="col-lg-8"> <br><br><br> <p class="mb-4 text-dark">

<h6>Data-Driven Success </h6>
At XLookin, we believe in the transformative power of data. Our services provide you with data-driven strategies that align with your objectives. Whether you're aiming for brand recognition, influencer status, or engagement growth, our tools are your pathway to success.
</p> <p class="mb-4 text-dark">
<h6>Secure, Seamless Transactions </h6>
We prioritize your security. Our platform ensures secure and seamless transactions through trusted payment gateways. Your privacy and trust are paramount to us, and we uphold the highest standards of online safety.


</p></div>
        </div>
          
        </div>
 </div>
{% endblock body %}