{% extends "base.html" %}
{% load static %}

{% block body %}

      <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>

<div class="container-xxl py-5">
            <div class="container px-lg-5">
        <h2 class="text-center text-warning">Frequently Asked Questions</h2>
      <br>  
        
        <br><br>
  <div class="row">
    <h4 class="text-center">What is XLookin?</h4>
    <p> XLookin is a data analytics platform that provides in-depth analysis of public Instagram profiles. It allows users to explore various data points such as posts, reels, likes, comments, and views, enabling them to gain insights into Instagram accounts and optimize their strategies.</p>
   <br><br>
    
</div>

<div class="row">
    <h4 class="text-center"> How to Use XLookin?</h4>
    <p>Using XLookin is simple! Just enter the public Instagram username you want to analyze, and click the "Search" button to initiate the analysis process. Once the analysis is complete, you can review detailed reports.</p>
   <br><br>
    
</div>
<div class="row">
    <h4 class="text-center">Why should I use XLookin for Instagram analytics?</h4>
    <p>XLookin provides a scientific and data-focused method for analyzing Instagram accounts, with reports enriched with valuable information such as engagement rates, popular content, and audience analyses. It is an excellent tool for enhancing social media strategies by providing in-depth insights and clear reporting features.
</p>
   
    <br><br>
</div>
<div class="row">
    <h4 class="text-center">How is XLookin different from other analytics tools?</h4>
    <p>XLookin stands out from other analytics tools due to its user-friendly interface and detailed reporting features. It offers the ability to conduct in-depth data analysis while keeping the reports easy to understand.
</p>
   <br><br>
    
</div>
<div class="row">
    <h4 class="text-center">How Can I Make Payments?</h4>
    <p>Payments on XLookin are processed securely through the Stripe payment system, which is a leading payment service provider that ensures user data is protected and encrypted.
</p>
   <div class="row">
    <p>  If you have any further questions or concerns, please don't hesitate to contact our support team.</p>
   </div>
    
</div>

            </div>
        </div>
{% endblock body %}