{% extends "base.html" %}
{% load static %}

{% block body %}

      <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
<br>
         <div class="container-xxl py-5">
            <div class="container px-lg-5">
                <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="position-relative mb-4 pb-2">
                            
                            <h3 class="mt-2">Instagram Analysis</h3>
                        </div>
                        <p class="mb-4">XLookin offers a professional service for analyzing public Instagram users' posts and reels. With this service, you can meticulously examine content with the highest likes and comments on Instagram, analyze interaction rates, and observe users' impact on hashtags, tags, and other content elements. </p>
                        <div class="row g-3">
                            <div class="col">
                                <h5 class="mb-3"><img src="{% static 'img/analysis.svg' %}" width="50" height="50" alt="analysis">&nbsp;&nbsp; Profile Analysis</h5>
                             <h5 class="mb-0"><img src="{% static 'img/search-history.png' %}" width="55" height="55" alt="report-history">&nbsp;&nbsp; Historical Data</h5>
                                <h5 class="mb-0"><img src="{% static 'img/report.png' %}" width="50" height="50" alt="report">&nbsp;&nbsp; Export Analystic Reports</h5>

                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid"  src="{% static 'img/XLookin.png' %}">
                    </div>
                </div>
            </div>
        </div>

         <div class="container-xxl bg-primary testimonial py-5 my-5" >
            <h3 class="text-white text-center"><img src="{% static 'img/instagram.svg' %}" width="50" height="50" alt="analysis">&nbsp;&nbsp;Instagram Analytics Tool</h3>
            <div class="container py-5 px-lg-5">
                
                <div class="owl-carousel testimonial-carousel">
                    <div class="row"> 
                     <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                       
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/followers.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Number of followers</h6>
                               
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/engagement-rate.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Engagement rate</h6>
                                
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row"> 
                     <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                       
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/hashtags.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top hashtags used</h6>
                               
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/captions.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top caption words</h6>
                                
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row"> 
                     <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                       
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/comments.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top most commented posts</h6>
                                
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/loved-post.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top most liked posts</h6>
                               
                            </div>
                        </div>
                    </div>

            </div>
            <div class="row"> 
                     <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                       
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/reels-comments.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top most commented reels</h6>
                               
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item bg-transparent border rounded text-white p-4 col-6">
                        
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/reels-likes.png' %}" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h6 class="text-white mb-1">Top most liked reels</h6>
                                
                            </div>
                        </div>
                    </div>

            </div>
            
                    
                </div>
            </div>
        </div>

  <div class="container-xxl py-5">
            <div class="container px-lg-5">
        <h4 class="text-center">Instagram  with  Data-Driven Insights</h4>
        <br><br>
  <div class="row">
    <div class="col-sm">
     <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/individual.jpg' %}" style="width: 100px; height: 100px;">
                          &nbsp;&nbsp; For Individuals
                        </div>
    </div>
    <div class="col-sm">
     <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/influencer.png' %}" style="width: 100px; height: 100px;">
                      &nbsp;&nbsp; For Influencers
                        </div>
    </div>
    <div class="col-sm">
   <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded-circle" src="{% static 'img/brand.png' %}" style="width: 100px; height: 100px;">
                        &nbsp;&nbsp; For Brands
                        </div>
    </div>
    <div clas="row">

        <div class="col"> <br><br> <br></div>
    </div>
      
 <br>
      <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                            
                        &nbsp;  <p><br><spam class="text-dark">Comprehensive Insights</spam> <br>Analyze posts, reels, likes, comments, and watch data comprehensively. Gain deep insights into user interactions without the hassle of complex calculations.
</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                            
                        &nbsp;  <p><br><spam class="text-dark">Easy-to-Understand Metrics</spam> <br>Understand complex data effortlessly. We present intricate analytics in a simplified manner, ensuring that users of all backgrounds can grasp the information easily.
</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                           
                        &nbsp;  <p><br><spam class="text-dark">User-Friendly Interface</spam> <br>Explore public Instagram profiles effortlessly with our intuitive and user-friendly interface. No need for technical expertise – our platform is designed for everyone.
</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                           
                        &nbsp;  <p><br><spam class="text-dark">Visual Representation</spam> <br>
                        Data comes to life with visually appealing charts and graphs. Visual representations make it easy to compare trends, track performance, and make informed decisions.</p>

                        </div>
        </div>
    </div><br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                           
                        &nbsp;  <p><br><spam class="text-dark">Real-Time Analysis</spam> <br>Stay up-to-date with real-time analysis. Our platform provides instant results, allowing users to make timely decisions and adapt their strategies on the go.
</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                            
                        &nbsp;  <p><br><spam class="text-dark">No Technical Skills Required</spam> <br>
                        You don’t need to be a tech expert or a math whiz to interpret our analytics. We break down complex data into easy-to-understand insights, accessible to everyone.
</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                           
                        &nbsp;  <p><br><spam class="text-dark">Secure and Reliable</spam> <br>
                        Rest assured knowing your data is secure. We prioritize your privacy and ensure the confidentiality of all analyzed information.

</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                            
                        &nbsp;  <p><br><spam class="text-dark">Accessible Anytime, Anywhere</spam> <br>
                        Access your insights from anywhere at any time. Our responsive design ensures a seamless experience on various devices, making data accessible on the go.

</p>

                        </div>
        </div>
    </div>
    <br>
        <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                            
                        &nbsp;<p><br><spam class="text-dark">Empowering Everyone</spam> <br>
                        Empower individuals, influencers, and brands to make data-driven decisions without a steep learning curve. Our platform levels the playing field, making analytics accessible to all.
</p>

                        </div>
        </div>
    </div><br>
    <div clas="row">

        <div class="col">
            <div class="d-flex align-items-center">
                           
                        &nbsp;  <p><br><spam class="text-dark">Informed Decision-Making</spam> <br>
                        Make informed decisions backed by reliable data. With our platform, you can strategize effectively, increase engagement, and achieve your objectives with confidence.

</p>

                        </div>
        </div>
    </div>
</div>
            </div>
        </div>

{% endblock body %}