{% extends "base.html" %}
{% load static %}

{% block body %}

      <div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>

<div class="container-xxl py-5">
            <div class="container px-lg-5">
        <h2 class="text-center text-secondary">Privacy Policy</h2>
      <br>  
        <h6 class="text-center">Effective date: 03/11/2023</h6>
        <br><br>
  <div class="row">
   
    <p>Your privacy is important to us. It is XLookin's policy to respect your privacy regarding any information we may collect from you through our website, and other sites we own and operate.
        </p>
         <p>
            We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.
        </p>
         <p>We only retain collected information for as long as necessary to provide you with your requested service. What data we store, we’ll protect within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use, or modification.

        </p>
         <p>
            We don’t share any personally identifying information publicly or with third-parties, except when required to by law.
        </p>
  <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and practices of these sites and cannot accept responsibility or liability for their respective privacy policies.</p>
  <p>You are free to refuse our request for your personal information, with the understanding that we may be unable to provide you with some of your desired services.</p>
  <p>Your continued use of our website will be regarded as acceptance of our practices around privacy and personal information. If you have any questions about how we handle user data and personal information, feel free to contact us.</p>
  <br><br>
  <h4 class="text-info">Payment service provider: Stripe</h4>
  <h6>Customer Support: <a href="https://support.stripe.com/" target="_blank">Stripe Help Center</a> </h6>
  <br>  <br><br>
  <h4 class="text-info">Billing Information </h4>
  <h5> Service Provider: XLookin </h5>
  <h6>Customer Support: support@xlookin.com</h6>
</div>
            </div>
        </div>
{% endblock body %}