{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div class="container-xxl py-5 bg-primary hero-header">
                <div class="container" >
                   
                </div>
            </div> 
        </div>
 <div class="container-xxl py-5">
            <div class="container px-lg-5">
             
                 <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <br>
                <h4 class="text-center">  Your account has been activated successfully. Enjoy using XLookin! If you have any questions, please contact our support team.</h4>
               </div>
                
               </div>
            </div>
        </div>
      
{% endblock body %}