[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
Type=notify
User=root
Group=www-data
RuntimeDirectory=gunicorn
WorkingDirectory=/var/www/Service
ExecStart=/var/www/Service/venv/bin/gunicorn --access-logfile - --workers 4 --bind unix:/run/gunicorn.sock          Service.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
[Install]
WantedBy=multi-user.target